<template name="landingPage">
  
    <!-- Navigation -->
  
  
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <img height="120" src="img/logoBrancoSemNome.png" alt="">
            <h1 class="mb-5">Bino, o assistente do caminhoneiro.</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="E-mail">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Inscreva-se!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
  
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              
                <i class="fa fa-truck fa-5x fa-fw text-primary"></i>
                <br><br>
              <h3>Condição das Estradas</h3>
              <p class="lead mb-0">Informações enviadas e validadas pelos próprios usuários.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <i class="fa fa-handshake-o fa-5x fa-fw text-primary"></i>
                <br><br>
              <h3>Colabore e ganhe pontos</h3>
              <p class="lead mb-0">Ao compartilhar ou validar informações do feed você ganha pontos que troca por descontos.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <i class="fa fa-exclamation-triangle fa-5x fa-fw text-primary"></i>
                <br><br>
              <h3>Segurança</h3>
              <p class="lead mb-0">Envie e receba alertas de socorro em caso de perigo.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
  
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/1.jpeg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Rede de apoio aos caminhoneiros</h2>
            <p class="lead mb-0">Encontre algum serviço, reporte algum alerta sobre trânsito, segurança e faça perguntas. Criamos uma rede que garante mais segurança para vocês, os trabalhadores que mantém o Brasil no caminho certo.            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/mecanico.jpeg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Benefícios para os usuários</h2>
            <p class="lead mb-0">Acumule pontos reportando alertas e validando-os! É bem simples, a partir de um alerta você valida a sua opinião e pode acumular pontos para serem trocados em serviços essenciais para o dia a dia do caminhoneiro! Participe!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/placa.jpeg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Botão de emergência</h2>
            <p class="lead mb-0">Se sinta mais seguro com a gente. Se estiver em perigo, acione um botão que enviará um alerta para todos os usuários perto de você e liga diretamente para a Polícia.</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">O que os usuários estão dizendo:</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid mb-3" src="img/tamis2.jpeg" alt="">
              <h5>Lourdes C.</h5>
              <p class="font-weight-light mb-0">"App fácil de navegar e dá para ver o que tá acontecendo perto de você."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid mb-3" src="img/jesus2.jpeg" alt="">
              <h5>João Alberto</h5>
              <p class="font-weight-light mb-0">"Consegui desconto em diesel num posto e também desconto no almoço. Os pontos funcionam."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid mb-3" src="img/aline-2.jpeg" alt="">
              <h5>Fernanda A.</h5>
              <p class="font-weight-light mb-0">"Podemos formar uma rede de mulheres se apoiando e se ajudando."</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Se inscreva na nossa newsletter! Receba infos no e-mail</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Email...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Inscreva-se!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {{> footer}}
  </template>